<h1>Hello </h1>

<form action= "/happy-birthday" method="post" >
  <h2>What's your name?</h2> <br>
  <input type ="text" name ="name"> <br>
  <h2>When's your birthday? </h2> <br>
  <input type ="date" name ="date" min="2019-01-22"> <br>
  <input type ="submit" value ="Enter"> <br>
</form>
