<!DOCTYPE html>
<html>
<head>
<style>
  body {
  background-color:#42f4df
}
</style>
</head>
<body>

<div style= "background-color: #37378e">
<h1 style="text-align:center; color: #fff"> Only <%=@days%> days until your birthday <%=@name%>! </h1>
</div>

</body>
</html>
