<!DOCTYPE html>
<html>
<head>
<style>
  body {
  background-color:#42f4df
}
</style>
</head>
<body>

<div style= "background-color: #37378e">
  <br>
<h1 style="text-align:center; color: #fff"> Only <%=@days_to_next_birthday%> day<%=@plural%> until your birthday <%=@name%>! </h1> <br>

<% if @days_since_past_birthday > 0 %>
<p style= "text-align:center; color: #fff"> Your last birthday was <%=@days_since_past_birthday%> days ago </p> <br>
<%end%>

<% if @name.downcase == "cat" %>
<center> <img src="http://bit.ly/1eze8aE" alt="Wahoo"> </center> <br>
<% end%>
</div>

</body>
</html>
