<html>
 <head>
  <style>
    body{
      background-color: #b276e8;
      text-align: center;
      color: #171e54
    }
    button, input{
      font-family: inherit;
      font-size: 100%;
      color: #171e54
    }
  </style>

    <h1>Hello<%=@name%></h1>
    <hr>

</head>
  <body>
    <form action= "/name" method="post" style="" >
      <h2>What's your name?</h2> <br>
      <input type ="text" name ="name" required> <br> <br>
      <h2>When's your birthday? </h2> <br>
      <input type ="date" name ="date" min="2018-01-22" required> <br>
      <h2>What's your favourite colour? </h2>
      <select name= "color">
        <option value= #42f4df>Blue</option>
        <option value= "pink">Pink</option>
        <option value= "#fff">White</option>
        <option value= "#b276e8">Purple</option>
      </select>
      <br> <br>
      <input type ="submit" value ="Enter"> <br>
    </form>

  </body>

</html>
