<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: <%=@person.color%>
    }
  </style>
</head>

<body>
  <div>
  <h1 style="text-align:center"> Happy Birthday <%=@person.name%> </h1>
  </div>
</body>
</html>
